// TODO: check if needed?
@import '../../../assets/styles/theme.scss';

.movie-detail-wrapper {
  .movie-details-top {
    z-index: 5;

    .movie-header {
      padding: 40px 10px;

      .arrow-back {
        transform: scale(2.2);
        position: relative;
        cursor: pointer;
        right: 8px;
      }

      h1 {
        text-shadow: 0 0 8px black;
        margin-bottom: 0;
      }

      .genre-tags {
        display: flex;
      }
    }

    .main-movie-info {
      img {
        min-height: 450px;
      }

      .description {
        text-align: justify;
        line-height: 2.5;
        color: #adadad; // TODO: replace with variable
      }
    }
  }
}
