// TODO: check if needed?
@import "../../../assets/styles/theme.scss";


.movie-detail-wrapper {

  .movie-details-top {
    z-index: 5;

    .movie-header {
      padding: 40px 10px;

      h1 {
        text-shadow: 0 0 8px black;
        margin-bottom: 0;

        .arrow-back {
          transform: scale(2.2);
          position: relative;
          right: 7px;
          cursor: pointer;
        }
      }

      .genre-tags {
        display: flex;
        padding-left: 30px;
      }
    }

    .main-movie-info {

      img {
        min-height: 450px;
      }

      .description {
        text-align: justify;
        line-height: 2.5;
        color: #adadad; // TODO: replace with variable
      }
    }
  }

}
