<div class="dialog-header">
  <!-- TODO: Add header text via input -->
  <h3>Movie Trailer</h3>

  <button mat-mini-fab
          (click)="closeDialog()"
          color="primary"
          class="close-dialog">
    <mat-icon>
      close
    </mat-icon>
  </button>
</div>


<div *ngIf="trailerUrl"
     class="pt-45 h-100-pc">
  <iframe width="100%"
          height="100%"
          [src]="trailerUrl"
          frameborder="0"
          allow="autoplay"
          allowfullscreen>
  </iframe>
</div>
