<!-- Search Input And Pager -->
<div class="flex justify-space-between search-pager-wrapper mt-20">

  <!-- Search Input -->
  <div class="col-sm-5">
    <app-search-movies-filter [form]="searchInputForm"
                              (onSearchKeyUp)="executeSearch($event)"
                              (onClearInput)="resetForm()">
    </app-search-movies-filter>
  </div>
  <!-- /Search Input -->

  <!-- Pager -->
  <div class="col-sm-7 flex align-items-center justify-flex-end">
    <mat-paginator *ngIf="resultValue === resultEnum.ShowResults"
                   class="transparent-background"
                   [length]="totalResults"
                   [pageIndex]="currentIndex"
                   [pageSize]="pageLength"
                   [hidePageSize]="true"
                   [showFirstLastButtons]="true"
                   (page)="changePage($event)">
    </mat-paginator>
  </div>
  <!-- /Pager -->

</div>
<!-- /Search Input And Pager -->

<div [ngSwitch]="resultValue">

  <!-- Results -->
  <div *ngSwitchCase="resultEnum.ShowResults">
    <app-search-movies-results [results]="results">
    </app-search-movies-results>
  </div>
  <!-- /Results -->

  <!-- No Results -->
  <div *ngSwitchCase="resultEnum.NoResultsFound">
    <div class="no-results">
      <span>No results found</span>
    </div>
  </div>
  <!-- /No Results -->

</div>











