<div [formGroup]="searchForm">

  <mat-form-field class="w-100-pc" appearance="outline">
    <mat-label class="text-white">Movie Title</mat-label>

    <input matInput formControlName="movieName" autocomplete="off">

    <mat-icon *ngIf="inputHasValue; else showSearchIcon"
              (click)="resetForm()"
              class="cursor-pointer"
              matSuffix>
      clear
    </mat-icon>

    <ng-template #showSearchIcon>
      <mat-icon matSuffix>search</mat-icon>
    </ng-template>


  </mat-form-field>

</div>

