<div class="flex align-items-center"
     [formGroup]="form">

  <!-- Search Input  -->
  <mat-form-field class="search-input p-relative"
                  appearance="outline">
    <mat-label class="text-white">Type a movie title</mat-label>

    <input matInput
           formControlName="movieName"
           autocomplete="off">

    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <!-- /Search Input  -->

  <!-- Clear Input Button -->
  <button *ngIf="inputHasValue"
          class="p-absolute right-25"
          (click)="clearInput()"
          color="primary"
          mat-raised-button>
    Clear
    <mat-icon class="pl-10"
              matSuffix>
      clear
    </mat-icon>
  </button>
  <!-- /Clear Input Button -->

</div>
