@import "../assets/styles/theme.scss";

.main-content {
  padding: 95px 25px 20px;
}

.sidebar {
  min-width: 250px;
  background-color: $main-theme-color;

  .logo-wrapper {
    padding: 15px 15px 7px;
    font-size: 20px;

    .logo {
      width: 35px;
    }
  }

  .item {
    &.active {
      background-color: $secondary-theme-color;
      box-shadow: 0 0 2px $secondary-theme-color;
      text-shadow: 0 0 1px;
    }
  }

}

.top-menu-fixed {
  position: fixed;
  top: 0;
  z-index: 500;
}
