@import "../assets/styles/theme.scss";

.sidebar {
  width: 290px;
  min-width: 250px;
  background-color: darken($secondary-theme-color, 3);
  border-color: $secondary-theme-color;

  .item {
    &.active {
      background-color: $main-theme-color;
      box-shadow: 0 0 2px $main-theme-color;
      text-shadow: 0 0 1px;
    }
  }

}

.top-menu-fixed {
  position: fixed;
  top: 0;
  z-index: 500;
}

.logo-wrapper {
  font-size: 20px;

  .logo {
    width: 35px;
  }
}

.sidebar-is-open {
  .secondary-logo {
    display: none;
  }
}
