<mat-drawer-container class="h-100-pc"
                      [class.sidebar-is-open]="sidebar.opened"
                      [class.sidebar-disabled]="isLoading"
                      autosize>

  <!-- Sidebar -->
  <mat-drawer #sidebar
              [opened]="!isSmallScreen"
              class="sidebar mat-elevation-z7"
              mode="side">

    <div class="logo-wrapper flex align-items-center text-white pt-15 pr-15 pl-15 pb-7">
      <img class="logo mr-10"
           src="../assets/images/movie-slate.png"
           alt="movie-slate-image">

      <span class="text-bold">Movie</span>
      <span class="text-normal">Library</span>
    </div>

    <mat-nav-list>
      <a class="item"
         mat-list-item
         routerLink="/">
        Home
      </a>

      <a class="item item-with-icon"
         (click)="toggleSearchMenuOptions()"
         mat-list-item>
        Search

        <mat-icon *ngIf="areSearchOptionsVisible; else upArrow">
          keyboard_arrow_up
        </mat-icon>

        <ng-template #upArrow>
          <mat-icon>
            keyboard_arrow_down
          </mat-icon>
        </ng-template>

      </a>

      <div *ngIf="areSearchOptionsVisible">
        <a class="item"
           mat-list-item
           routerLinkActive="active"
           routerLink="/search-movies">
          Movies / TV Shows
        </a>
      </div>
    </mat-nav-list>

  </mat-drawer>
  <!-- /Sidebar -->

  <!-- Top Menu -->
  <mat-toolbar class="top-menu-fixed mat-elevation-z5">
    <button mat-icon-button
            (click)="sidebar.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="logo-wrapper pl-15 flex align-items-center text-white secondary-logo">
      <img class="logo mr-10"
           src="../assets/images/movie-slate.png"
           alt="movie-slate-image">

      <span class="text-bold">Movie</span>
      <span class="text-normal">Library</span>
    </div>
  </mat-toolbar>
  <!-- /Top Menu -->

  <!-- Main Content -->
  <app-main-content-wrapper [class.search-is-sticky]="isSearchBarSticky">
    <app-spinner [isSpinnerVisible]="isLoading"></app-spinner>
    <router-outlet></router-outlet>
  </app-main-content-wrapper>
  <!-- /Main Content -->

  <!-- Movie DB Logo -->
  <div *ngIf="!isScrollUpButtonVisible"
       class="movie-db-logo">
    <a href="https://www.themoviedb.org/"
       title="Powered By The Movie DB"
       target="_blank">
      <img src="./../assets/images/powered-by-mdb.png"
           alt="Movie DB Logo">
    </a>
  </div>
  <!-- /Movie DB Logo -->

  <!-- Scroll To Top Button -->
  <app-scroll-up-button [isVisible]="isScrollUpButtonVisible">
  </app-scroll-up-button>
  <!-- /Scroll To Top Button -->


</mat-drawer-container>
