<mat-drawer-container class="h-100-pc" autosize>
  <mat-drawer #sidebar
              [opened]="true"
              class="sidebar"
              mode="side">


    <div class="logo-wrapper flex align-items-center text-white">
      <img class="logo mr-10"
            src="../assets/images/movie-slate.png"
            alt="movie-slate-image">

      <span class="text-bold">Movie</span>
      <span class="text-normal">Library</span>
    </div>

    <mat-nav-list>
      <a class="item"
         mat-list-item
         routerLink="/">
       Home
    </a>

      <a class="item"
         mat-list-item
         routerLinkActive="active"
         routerLink="/search">
        Search Movies
      </a>


      <a class="item"
         mat-list-item
         routerLink="/favourites"
         routerLinkActive="active">
        Favourites
      </a>
    </mat-nav-list>

  </mat-drawer>

  <mat-toolbar>
    <button mat-icon-button (click)="sidebar.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

</mat-drawer-container>

