@import "../../../../assets/styles/theme.scss";

.custom-menu-wrapper {

  .vertical {
    box-shadow: 0 0 10px black;
    background-color: $main-theme-color;

    .logo-wrapper {
      padding: 10px 12px 10px;
      font-size: 20px;
      margin-bottom: 15px;

      .logo {
        width: 35px;
      }
    }

    .item {
      &.active {
        background-color: $secondary-theme-color;
        box-shadow: 0 0 1px $secondary-theme-color;
        text-shadow: 0 0 1px;
        transition: all .2s ease;
      }
    }

  }

  .custom-top-menu {
    padding: 10px;
    box-shadow: 0 0 4px;
    width: calc(100% - 260px) !important;
  }



}


