<div class="custom-menu-wrapper">

  <!-- Sidebar -->
  <div class="ui visible menu inverted left vertical sidebar">

    <div class="logo-wrapper flex align-items-center text-white">
      <img class="logo mr-10"
           src="../assets/images/movie-slate.png"
           alt="movie-slate-image">

      <span class="text-bold">Movie</span>
      <span class="text-normal">Library</span>
    </div>

    <a class="item">Home</a>
    <a class="item">Rated Movies</a>
    <a class="item">Favourites</a>

  </div>
  <!-- /Sidebar -->

  <!-- Fixed Top Menu -->
  <div class="ui top inverted fixed menu custom-top-menu">
    <div class="right menu">
      <button class="ui purple button">Placeholder button</button>
    </div>
  </div>
  <!-- Fixed Top Menu -->

</div>
