:host {
  height: 100%;
}

.main-content {
  min-height: 100%;
  padding-top: 64px;
  background-attachment: fixed;
  background-position: right 64px;
  background-repeat: no-repeat;
  background-size: cover;
}
