@import "./theme.scss";

$offset: 1;
$unit: 'px';

// Mixin for Helper Classes
@mixin helper-class-generator($class-name, $style-name, $max: 100) {
  $i: 0;
  @while $i <= $max {
    #{$class-name + $i} {
      #{$style-name}: #{$i + $unit} !important;
    }
    $i: $i + $offset;
  }
}

// Paddings
@include helper-class-generator('.pt-', 'padding-top');
@include helper-class-generator('.pr-', 'padding-right');
@include helper-class-generator('.pb-', 'padding-bottom');
@include helper-class-generator('.pl-', 'padding-left');
@include helper-class-generator('.p-', 'padding');

// Margins
@include helper-class-generator('.mt-', 'margin-top');
@include helper-class-generator('.mr-', 'margin-right');
@include helper-class-generator('.mb-', 'margin-bottom');
@include helper-class-generator('.ml-', 'margin-left');
@include helper-class-generator('.m-', 'margin');

// Widths
@include helper-class-generator('.w-', 'width');

// Font Sizes
@include helper-class-generator('.fs-', 'font-size', 50);

.w-100-pc {
  width: 100%;
}

.min-width-350 {
  min-width: 350px;
}

// Heights
@include helper-class-generator('.h-', 'height');

.h-100-pc {
  height: 100%;
}

// Positioning Classes
.p-relative {
  position: relative !important;
}

.p-absolute {
  position: absolute !important;
}

.right-25 {
  right: 25px;
}

.left-10 {
  left: 10px;
}

// Text Classes
.text-primary {
  color: $main-theme-color !important;
}

.text-white {
  color: white;
}

.text-light-white {
  color: #adadad;
}

.text-bold {
  font-weight: 800;
}

.text-normal {
  font-weight: normal;
}

.text-size-18 {
  font-size: 18px;
}
// End Text Classes

// Flexbox Classes
.flex {
  display: flex;
}

.align-items-center {
  align-items: center !important;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-space-around {
  justify-content: space-around !important;
}

.justify-space-between {
  justify-content: space-between !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column {
  flex-direction: column;
}
// End of Flexbox Classes

// Input styles

.dark-input {
  background-color: lighten($background-color, 5) !important;
  color: white !important;
}

// End of Input styles

// Cursors
.cursor-pointer {
  cursor: pointer;
}
// End of Cursors

// Background Colors
.transparent-background {
 background: transparent;
}
// End of Background Colors
