@import "../../../../assets/styles/theme.scss";

.purple-hr {
  background: linear-gradient(to right, #3e0d41, rgba(255, 255, 0, 0));
  height: 5px;
  border: 0
}

.movie-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .movie-header {
    min-height: 70px;

    .truncate-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

  }

  .movie-card {
    background: #191919;
    box-shadow: 0 0 2px black;
    z-index: 4;

    &:hover {
      box-shadow: 0 0 14px black;
      background: lighten(#191919, 5);
      cursor: pointer;
      transition: all .2s ease;

      .movie-picture {
        opacity: 1;
        transition: all .2s ease;
      }
    }

    .movie-rating {
      font-size: 18px;
      width: 50px;
      height: 50px;
      border: 5px solid darken($main-theme-color, 5);
      text-align: center;
      padding: 8px 0;
      font-weight: bold;
      color: #cbcbcb;
      box-shadow: 0 0 3px $main-theme-color;
      background: #101010;
    }

    .movie-picture {
      height: 500px;
      opacity: 0.7;
      object-fit: cover;
    }

    .movie-description {
      text-align: justify;
      line-height: 2;
      height: 85px;
      max-height: 85px;
      overflow: hidden;
    }
  }

}
