@import "../../../../assets/styles/theme.scss";

.movie-cards-wrapper {

  .movie-header {
    min-height: 70px;
  }

  .movie-card {
    .movie-picture {
      min-height: 500px;
    }

    .movie-description {
      height: 85px;
      max-height: 85px;
      overflow: hidden;
    }
  }

}
